/* GENERAL STYLES */

body {
	background-color: mediumturquoise;
}

h1 {
	text-align: center;
}

.playerModel {
	margin-top: 10px ;
	margin-bottom: 10px;
}
.stats  {
	margin-top: 20px;
	text-align: center;
}